.spendTime,.bookmarksItem{
    color: #182C61;
}
.spendTime{
    color:#3c40c6;
    font-weight: 700;
    font-size: 2rem;
}
.bookmarksItem{
    color: #182C61;
    font-size: 2rem;
    font-weight: 800;
}
.bookmarks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}