.spendTime,.bookmarksItem{
    color: #182C61;
}
.spendTime{
    color:#3c40c6;
    font-weight: 700;
    font-size: 2rem;
}
.bookmarksItem,.BookmarksItemTitle{
    color: #182C61;
    font-size: 2rem;
    font-weight: 800;
}
.bookmarks{
    background-color: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 10px;
}
.bookmarkItemDiv{
    margin-top: 10px;
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 10px;
}
